/* ======================
  9 Секция футер - footer
========================= */
.footer {
  font-family: "Manrope", sans-serif;
  /* потом удалить */
  /* padding: 76px 0 24px; */
  background-color: #fff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  /* пока закоментил - высота и так выдерживается */
  /* min-height: 223px; */
}

/* потом удалить отсюда и из html */
/* .footer__container {
  display: flex;
  flex-direction: column;
  row-gap: 59px;
} */

.footer-inner {
  padding: 76px 0 32px 0;
}

.footer__row-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 59px;
}

.footer__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__col {
  /* задал чтобы была своя ширина, потом в mobile задаю width: 100% */
  width: auto;
}

.footer-element {
  width: 100%;
}

.footer-element__description {
  font-size: 22px;
  line-height: 30px;
  color: #000;
}

.footer__copyright {
  font-size: 20px;
  line-height: 27px;
  color: #000;
  opacity: 0.5;
}

@media (max-width: 1199px) {

}

@media (max-width: 767px) {
  /* пробую */
  .footer__col {
    width: 100%;
  }
}