/* ======================
  3 Hero-блок (первая секция с фоном)
========================= */
.hero-wrapper {
  margin-bottom: 150px;
  width: 100%;
  /* пока закоментил если потом будет не нужным - удалить */
  /* добавил для устранения бага при уменьшении окна браузера */
  /* min-width: 1180px; */
  height: 765px;
  background-image: url("../resources/frontend-developer/developer-image_desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* было так раньше -потом удалить */
/* .hero {
  margin-bottom: 150px;
  width: 100%;
  добавил для устранения бага при уменьшении окна браузера
  min-width: 1180px;
  height: 765px;
  background-image: url("../resources/frontend-developer/developer-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */

/* ======================
  4 Хедер (фон хедера прозрачный, он "сидит" на фоне hero-wrapper)
========================= */
.header {
  padding-top: 27px;
}

/* сделал через флексбокс */
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 55px;
  /* после pixel perfect */
  /* сделал через margin-left*/
  /* position: relative;
  left: -2px; */
  /* закоментил - может быть потом удалить */
  /* width: 1153px; */
  margin-left: -2px;
}

/* первый варинт логотипа - закоментил - сделал вторым вариантом*/
/* .header__logo-link {
  margin-top: 9px;
  display: inline-block;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

.header__logo {
  width: 130px;
  height: 39px;
  border-radius: 100px;
  background: #000;
}

.header__logo-text {
  position: absolute;
  left: 9px;
  top: -9px;
  width: 109px;
  font-weight: 700;
  font-size: 42.41px;
  line-height: 55px;
  letter-spacing: -0.11em;
  text-transform: uppercase;
  color: #1bff07;
} */

/* второй вариант логотипа */
/* различаются размещение орлов надписи по высоте - подумать как сделать - сделал в span */
.header__logo-link {
  display: inline-block;
  margin-top: 9px;
  padding-left: 9px;
  width: 130px;
  border-radius: 100px;
  background-color: #000;
  color: #1bff07;
  text-decoration: none;
  font-size: 42.41px;
  /* line-height: 55px; */
  line-height: 39px;
  font-weight: 700;
  /* letter-spacing: -0.11em; */
  cursor: pointer;
}

/* спозиционировал span - у меня надпись как бы по центру line-height: 39px в макете вверху 9 внизу 7 то есть если по центру то 8 и 8 значит у меня нужно 1px поднять снизу */
.header__logo-span {
  position: relative;
  bottom: 1px;
  letter-spacing: -0.11em;
  text-transform: uppercase;
}

.nav-menu {
  margin-top: 6px;
  /* это было до флексбокса */
  /* float: right;
  vertical-align: top; */
}

.nav-menu__list {
  display: flex;
  flex-direction: row;
  /* gap: 50px; */
  /* после pixel perfect */
  gap: 51px;
}

/* до использования флексбокса */
/* .nav-menu__item {
  display: inline-block;
  margin-right: 50px;
}

.nav-menu__item:last-child {
  margin-right: 0;
} */

.nav-menu__link {
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.nav-menu__link:hover {
  color: #1bff07;
}

/* ======================
  4 Элементы секции hero
========================= */
.hero__content-container {
  position: relative;
  /* для визуального контроля - потом закоментить */
  /* height: 683px;
  border: 1px solid red; */
  /* чтобы при наведении был виден контейнер */
  min-height: 683px;
}

/* делал так раньше - этот способ закоментил - делаю по другому */
/* .hero__desc {
  position: absolute;
  расстояние от хэдера
  top: 252px;
  15 так как падинги по бокам 15px а позиционируется от границы контейнера - то есть от 1180px
  left: 15px;
  left 0 не нужен так как будет смещение за границы контейнера до 1180 а не 1150 пикселей
  width: 430px;
  font-size: 20px;
  line-height: 26px;
}

.hero__title {
  position: absolute;
  top: 384px;
  left: 9px расчитал как 15-6,где 15 боковой паддинг,а 6 заезд за границу контейнера слева
  left: 9px;
  width: 919px;
  font-size: 80px;
  line-height: 70px;
} */

.hero__content-wrapper {
  position: absolute;
  /* bottom: 94px; */
  /* после pixel perfect */
  bottom: 89px;
}

.hero__desc {
  margin-bottom: 27px;
  max-width: 430px;
  font-size: 20px;
  line-height: 26px;
}

.hero__title {
  margin-left: -6px;
  max-width: 919px;
  font-size: 80px;
  line-height: 70px;
}

.hero__title_color-green {
  color: #1bff07;
}

/* Адаптив */

@media (max-width: 1199px) {
  .hero-wrapper {
    background-image: url("../resources/frontend-developer/developer-image_tablet.png");
  }

  .header {
    padding-top: 23px;
  }

  .nav-menu {
    display: none;
  }

  /* Кнопка бургера */
  /* здесь будет код кнопки бургера - потом этот коммент удалить */

  /* Секция hero */
  .hero__content-container {
    /* чтобы при наведении был виден контейнер */
    min-height: 687px;
  }

  .hero__content-wrapper {
    /* bottom: 60px; */
    /* после pixel perfect */
    bottom: 54px;
  }

  .hero__title {
    margin-left: -5px;
    max-width: 727px;
    font-size: 60px;
  }
}

@media (max-width: 767px) {
  .hero-wrapper {
    margin-bottom: 100px;
    height: 716px;
  }

  .header__inner {
    margin-left: 0;
  }

  /* Кнопка бургера */
  /*  кнопки бургера в tablet и mobile одинаковы - если тут ничего дописывать не надо потом этот коммент удалить */

  /* Секция hero */
  .hero__content-container {
    /* чтобы при наведении был виден контейнер */
    min-height: 638px;
  }

  .hero__content-wrapper {
    /* bottom: 60px; */
    /* после pixel perfect */
    bottom: 76px;
  }

  .hero__desc {
    /* margin-bottom: 10px; */
    /* после pixel perfect */
    margin-bottom: 13px;
    max-width: 310px;
    font-size: 15px;
    line-height: 20px;
  }

  .hero__title {
    margin-left: -3px;
    /* max-width: 353px; */
    width: 100%;
    /* max-width: 100%; */
    font-size: 40px;
    line-height: 47px;
  }
}

/* пробовал здесь 400px но лучше подошло 575px */
@media (max-width: 575px) {
  .hero-wrapper {
    background-image: url("../resources/frontend-developer/developer-image_mobile.png");
  }
}
