/* ======================
  7 Секция услуги - services
========================= */
.services {
  margin-bottom: 150px;
}

.services__heading {
  margin-bottom: 80px;
  font-size: 35px;
  line-height: 46px;
}

.services-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.services-item {
  width: 100%;
}

.services-item__image-wrapper {
  height: 200px;
  border-radius: 30px;
  /* использую чтобы в services-item__image не писать border-radius: 30px */
  overflow: hidden;
}

.services-item__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* тут уже не нужно закоментил */
  /* border-radius: 30px; */
}

.services-item__description-box {
  width: 100%;
  /* если просто height то текст налазит */
  /* height: 283px; */
  min-height: 283px;
  background-color: #191c19;
  border-radius: 30px;
}

.services-item__inner {
  /* сделал на все стороны */
  padding: 40px;
}

.services-item__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services-item__col {
  width: calc(50% - 5px);
}

.services-item__title {
  font-size: 55px;
  line-height: 61px;
  color: #1bff07;
}

.services-item__text {
  font-size: 22px;
  line-height: 29px;
}

.services__heading_short-title {
  max-width: 403px;
}

.services-item__text_offset {
  padding-top: 5px;
}

.services-item__title_short-width {
  max-width: 470px;
}

/* адаптив - tablet */

@media (max-width: 1199px) {
  .services {
    margin-bottom: 110px;
  }

  .services__heading {
    margin-bottom: 60px;
    font-size: 28px;
    line-height: 37px;
  }

  .services-list {
    gap: 32px;
  }

  .services-item__image-wrapper {
    height: 162px;
    border-radius: 24px;
  }

  .services-item__description-box {
    min-height: 229px;
    border-radius: 24px;
  }

  .services-item__inner {
    /* сделал на все стороны */
    padding: 32px;
  }

  .services-item__col {
    width: calc(50% - 4px);
  }

  .services-item__title {
    font-size: 45px;
    line-height: 50px;
  }

  .services-item__text {
    font-size: 18px;
    line-height: 23px;
  }

  .services__heading_short-title {
    max-width: 326px;
  }

  .services-item__text_offset {
    padding-top: 4px;
  }

  .services-item__title_short-width {
    max-width: 380px;
  }
}

/* адаптив - mobile */

@media (max-width: 767px) {
  .services {
    margin-bottom: 100px;
  }

  .services-list {
    gap: 60px;
  }

  .services-item__image-wrapper {
    height: 225px;
  }

  .services-item__description-box {
    min-height: 0;
  }

  .services-item__inner {
    /* сделал на все стороны - right 31px чтобы совпал текст с макетом -почти совпал */
    padding: 30px 31px 21px 21px;
  }

  .services-item__col {
    width: 100%;
  }

  .services-item__title {
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 39px;
  }

  .services-item__inner_size-one {
    padding-bottom: 67px;
  }

  .services-item__inner_size-two {
    padding-bottom: 62px;
    /* чтобы совпало с макетом */
    padding-right: 32px;
  }

  .services-item__inner_size-three {
    padding-bottom: 58px;
  }

  .services-item__image-wrapper_size-mobile {
    height: 162px;
  }

  .services-item__text_offset {
    padding-top: 0;
  }
}
