/* ======================
  7 Секция услуги - services
========================= */
.services {
  margin-bottom: 150px;
}

.services__heading {
  margin-bottom: 80px;
  font-size: 35px;
  line-height: 46px;
}

.services-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.services-item {
  width: 100%;
}

.services-item__image-wrapper {
  height: 200px;
  border-radius: 30px;
  /* использую чтобы в services-item__image не писать border-radius: 30px */
  overflow: hidden;
}

.services-item__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* тут уже не нужно закоментил */
  /* border-radius: 30px; */
}

.services-item__description-box {
  /* если не понадобится-удалить */
  /* padding: 40px 62px 40px 40px; */
  width: 100%;
  /* если просто height то текст налазит */
  /* height: 283px; */
  min-height: 283px;
  background-color: #191c19;
  border-radius: 30px;
}

.services-item__inner {
  /* сделал на все стороны */
  padding: 40px;
}

.services-item__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services-item__col {
  width: calc(50% - 5px);
}

.services-item__title {
  font-size: 55px;
  line-height: 61px;
  color: #1bff07;
}

.services-item__text {
  font-size: 22px;
  line-height: 29px;
}

.services__heading_short-title {
  max-width: 403px;
}

/* адаптив - tablet */

@media (max-width: 1199px) {
  .services-item__image-wrapper {
    height: 162px;
  }
}

/* адаптив - mobile */

@media (max-width: 767px) {
  .services-item__image-wrapper {
    height: 225px;
  }

  .services-item__image-wrapper_size-mobile {
    height: 162px;
  }
}
