/* ======================
  1 Базовые настройки
========================= */

* {
  box-sizing: border-box;
  /* letter-spacing пока тут потом может сделаю как в разборе чекпоинт 3 */
  letter-spacing: -0.03em;
}

body {
  font-family: "IBM Plex Mono", sans-serif;
  width: 100%;
  font-weight: 400;
  background: #000;
  /* задал белый цвет текста всему документу, так как его больше всего - другие цвета шрифта через модификаторы */
  color: #fff;
}

/* ======================
  2 Контейнер (ограничение ширины и отступы)
========================= */
.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1180px;
}

/* ======================
  3 Hero-блок (первая секция с фоном)
========================= */
.hero-wrapper {
  margin-bottom: 150px;
  width: 100%;
  /* добавил для устранения бага при уменьшении окна браузера */
  min-width: 1180px;
  height: 765px;
  background-image: url("../resources/frontend-developer/developer-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* было так раньше -потом удалить */
/* .hero {
  margin-bottom: 150px;
  width: 100%;
  добавил для устранения бага при уменьшении окна браузера
  min-width: 1180px;
  height: 765px;
  background-image: url("../resources/frontend-developer/developer-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */

/* ======================
  4 Хедер (фон хедера прозрачный, он "сидит" на фоне hero-wrapper)
========================= */
.header {
  padding-top: 27px;
}

/* сделал через флексбокс */
.header__container-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 55px;
}

/* первый варинт логотипа - закоментил - сделал вторым вариантом*/
/* .header__logo-link {
  margin-top: 9px;
  display: inline-block;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

.header__logo {
  width: 130px;
  height: 39px;
  border-radius: 100px;
  background: #000;
}

.header__logo-text {
  position: absolute;
  left: 9px;
  top: -9px;
  width: 109px;
  font-weight: 700;
  font-size: 42.41px;
  line-height: 55px;
  letter-spacing: -0.11em;
  text-transform: uppercase;
  color: #1bff07;
} */

/* второй вариант логотипа */
/* различаются размещение орлов надписи по высоте - подумать как сделать - сделал в span */
.header__logo-link {
  display: inline-block;
  margin-top: 9px;
  padding-left: 9px;
  width: 130px;
  border-radius: 100px;
  background-color: #000;
  color: #1bff07;
  text-decoration: none;
  font-size: 42.41px;
  /* line-height: 55px; */
  line-height: 39px;
  font-weight: 700;
  /* letter-spacing: -0.11em; */
  cursor: pointer;
}

/* спозиционировал span - у меня надпись как бы по центру line-height: 39px в макете вверху 9 внизу 7 то есть если по центру то 8 и 8 значит у меня нужно 1px поднять снизу */
.header__logo-span {
  position: relative;
  bottom: 1px;
  letter-spacing: -0.11em;
  text-transform: uppercase;
}

.nav-menu {
  margin-top: 6px;
  /* это было до флексбокса */
  /* float: right;
  vertical-align: top; */
}

.nav-menu__list {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

/* до использования флексбокса */
/* .nav-menu__item {
  display: inline-block;
  margin-right: 50px;
}

.nav-menu__item:last-child {
  margin-right: 0;
} */

.nav-menu__link {
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.nav-menu__link:hover {
  color: #1bff07;
}

/* ======================
  4 Элементы секции hero
========================= */
.hero__content-container {
  position: relative;
  /* для визуального контроля - потом закоментить */
  /* height: 683px;
  border: 1px solid red; */
}

.hero__desc {
  position: absolute;
  /* расстояние от хэдера */
  top: 252px;
  /* 15 так как падинги по бокам 15px а позиционируется от границы контейнера - то есть от 1180px */
  left: 15px;
  /* left 0 не нужен так как будет смещение за границы контейнера до 1180 а не 1150 пикселей */
  width: 430px;
  font-size: 20px;
  line-height: 26px;
}

.hero__title {
  position: absolute;
  top: 384px;
  /*left: 9px расчитал как 15-6,где 15 боковой паддинг,а 6 заезд за границу контейнера слева */
  left: 9px;
  width: 919px;
  font-size: 80px;
  line-height: 70px;
}

.hero__title_color-green {
  color: #1bff07;
}

/* ======================
  5 Секция проекты - projects
========================= */
/* В макете встречаются элементы - некоторые заголовки и параграфы,
которые имеют одинаковые CSS свойства, поэтому им буду задавать класс-блок по БЭМ для повторного использования
и дополнительный класс для расположения - внешней геометрии - то есть микс по БЭМ */

/* БЭМ-блок заголовка */
/* color уже задан в body */
.title {
  font-size: 55px;
  line-height: 72px;
}

.projects__title {
  margin-bottom: 40px;
}

.projects-list {
  margin-bottom: 80px;
}

.projects-item {
  width: 100%;
  height: 550px;
  border-radius: 30px;
}

.projects-item__background {
  position: relative;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.projects-item__background_project-realhome {
  background-image: url("../resources/projects-image/Realhome-image.png");
}

.projects-item__background_project-glass {
  background-image: url("../resources/projects-image/Glass-image.png");
}

.projects-item__background_project-fesiyen {
  background-image: url("../resources/projects-image/Fesiyen-image.png");
}

.projects-item__box {
  position: absolute;
  left: 50px;
  bottom: 50px;
}

.heading {
  font-size: 35px;
  line-height: 46px;
}

.projects-item__heading {
  margin-bottom: 5px;
}

.projects-item__desc {
  font-size: 30px;
  line-height: 39px;
}

.projects__btn {
  padding: 56px 85px 58px 86px;
  width: 582px;
  display: inline-block;
  border-radius: 10px;
  font-size: 30px;
  line-height: 39px;
  text-align: center;
  background-color: #1bff07;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.projects__btn:hover {
  /* чтобы не увеличивалась высота ведь border дает по 1px сверху и снизу */
  height: 153px;
  /* после pixel perfect уменьшил на 2px так как если height: 153px и border 1px сверху и снизу line-height тоже уменьшается на 2px */
  line-height: 37px;
  border: 1px solid #1bff07;
  background-color: #000;
  color: #1bff07;
}

.projects {
  margin-bottom: 150px;
}

/* ======================
  6 Секция компетенции - competencies
========================= */
.competencies__title {
  margin-bottom: 104px;
}

/* это не нужно */
/* .competencies-item__heading {
  margin-bottom: 15px;
} */

.heading_color-green {
  color: #1bff07;
}

.competencies-item__heading-wrapper {
  position: relative;
  margin-bottom: 15px;
}

.competencies-item__heading-wrapper::before {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  /* высчитал как 46px - высота текста плюс 16 - отступ */
  bottom: 62px;
  width: 45px;
  height: 44px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.competencies-item__heading-wrapper_icon-type-one::before {
  background-image: url("../resources/competencies-icons/competencies-icons-one.png");
  
}

.competencies-item__heading-wrapper_icon-type-two::before {
  background-image: url("../resources/competencies-icons/competencies-icons-two.png");
}

.competencies-item__heading-wrapper_icon-type-three::before {
  background-image: url("../resources/competencies-icons/competencies-icons-three.png");
}

.competencies-item__heading-wrapper_icon-type-four::before {
  background-image: url("../resources/competencies-icons/competencies-icons-four.png");
}

.competencies-item__heading-wrapper_offset-bottom-small::before {
  /* высчитал как 46px - высота текста плюс 12 - отступ */
  bottom: 58px;
}

.heading_short-text {
  width: 651px;
}

/* БЭМ-блок параграфа */
/* color уже задан в body */
.text {
  width: 778px;
  font-size: 22px;
  line-height: 29px;
}

.competencies-item__heading-wrapper_offset-bottom-large::before {
  /* высчитал как 92px - высота текста плюс 16 - отступ */
  bottom: 108px;
}

.competencies-item {
  margin-bottom: 120px;
}

.competencies-item:last-child {
  margin-bottom: 0;
}

.competencies {
  margin-bottom: 150px;
}

/* ======================
  7 Секция услуги - services
========================= */
.services__heading {
  margin-bottom: 74px;
}

.heading_short-title {
  width: 403px;
}

.services-item__image-wrapper {
  height: 200px;
}

.services-item__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services-item__description-box {
  padding-top: 40px;
  padding-left: 40px;
  width: 100%;
  height: 283px;
  background-color: #191c19;
  border-radius: 30px;
}

.services-item__title {
  margin-bottom: 15px;
}

.title_color-green {
  color: #1bff07;
}

.text_normal-paragraph {
  width: 749px;
}