@import "hero-wrapper.css";
@import "projects.css";
@import "competencies.css";
@import "services.css";
@import "contacts.css";
@import "footer.css";


/* ======================
  1 Базовые настройки
========================= */

* {
  box-sizing: border-box;
  /* letter-spacing пока тут потом может сделаю как в разборе чекпоинт 3 */
  letter-spacing: -0.03em;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "IBM Plex Mono", sans-serif;
  width: 100%;
  font-weight: 400;
  background: #000;
  /* задал белый цвет текста всему документу, так как его больше всего - другие цвета шрифта через модификаторы */
  color: #fff;
}

/* ======================
  2 Контейнер (ограничение ширины и отступы)
========================= */
.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1180px;
}














